
/* Styles the body. */

body{
 background: Silver;
 font: 12px arial, sans-serif;
 margin: 0; padding: 0;
 margin-bottom: 50px;
}


/* The design-holder. */

#holder{
 position: relative;
 left: 50%; top: 20px;
 width: 750px; height: 500px;
 margin-left: -375px; margin-bottom: 50px;
 padding-bottom: 25px;
 background-color: #fff;
 border: 2px black solid; 
 }


/* The content holder */

#content{
 height: auto;
 background-color: transparent;
}

/* Styles the 'p'-tag. */

p{
 margin: 25px 30px 10px 30px;
 padding: 0;
 text-align: justify;
 text-indent: 15px;
 font: 1em arial, sans-serif;
 line-height: 1.5em;
 color: #3E515E;
}


/* Use this (with the 'h4'-tag as header) if you want to quote something. */

.quote{
 margin: 0 30px 10px 50px;
 font: italic 0.8em verdana, sans-serif;
 background-color: #fff;
 padding: 5px;
 text-indent: 0;
 border: 1px #aaa dotted;
}


/* Use this if you don't want first lines on all paragraph to be moved 15px inn */

.noindent{
 text-indent: 0;
}


/* The biggest font. */

h1{
 font: 2em "times new roman", serif;
 margin: 25px 0 0 30px;
 padding: 0;
 color: #3E515E;
}


/* The font below the biggest font. */

h2{
 font: 0.8em georgia, serif;
 margin: -3px 0 0 35px;
 padding: 0;
 color: #aaa;
}


/* Use this for paragraph titles. */

h3{
 font: 1.4em verdana, serif;
 text-decoration: underline;
 margin: 20px 0 0 30px;
 padding: 0;
 color: #3E515E;
}


/* Use this on all paragraphs (but not #quote) wich are part of the article/documentation/etc.. */

.text{
 margin: 15px 30px 10px 30px;
}


/* The title to be used when displaying a quote with '#quote'. */

h4{
 font: 1.2em georgia, serif;
 margin: 0 0 0 50px;
 padding: 0;
 color: #3E515E;
}


/* Italic text. */

i{
 font: 1em arial, sans-serif;
 font-style: italic;
 color: #000;
}


/* Bold text. */

b{
 font-weight: bold;
 color: #3E515E;
}


/* The list ('li') holder. */

ul{
 background-color: #fff;
}


/* Lists. */

li{
 margin: 0 0 0 5px;
 padding: 0;
}


/* Styles all links on the page (without the menu, wich allready have been styled). */

a{
 color: blue;
 font-weight: bold;
 text-decoration: underline;
}


/* Same as above, exept this is the hover (mouse-over) effect. */

a:hover{
 color: #3E515E;
 text-decoration: none;
}



